@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Bulsat API</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </div>
</div>

<div class="container">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-md-4">
            <h3>Example m3u</h3>
        </div>

        <!-- col -->
        <div class="col-md-4">
            <h3>Example epg</h3>
        </div>

        <!-- col -->
        <div class="col-md-4">
            <h3>Example logos</h3>
        </div>

    </div>

    <hr />

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-md-4">
            <h3>VLC</h3>
        </div>

        <!-- col -->
        <div class="col-md-4">
            <h3>KODI</h3>
        </div>

        <!-- col -->
        <div class="col-md-4">
            <h3>More</h3>
        </div>

    </div>

</div>